body {
  background-color: rgb(255, 228, 181);
}

Table.bordered {
  border-collapse: collapse;
  border: 1px solid #a0a0a0;
  margin: 10px 0px 10px 0px;
}
Table.bordered tr th,
table.bordered tr td {
  font-family: "Verdana";
  vertical-align: top;
  padding: 4px;
  border: 1px solid #a0a0a0;
  font-size: 11px;
}
Table.bordered tr th {
  background-color: #f5f5ff;
}
Table.bordered tr td.group {
  background-color: #f5f5ff;
}

.lightGreen {
    background-color: rgb(144, 238, 144);
}
